{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
<div class = "form-background">
    <div class="main-form" style="left: 55%">
    <div class="title">About Me</div> <br>
        <text class = "scrollabletextbox">
            Prioritas is an organizational website that enables users to keep track of to-dos and categorize 
            these tasks to be completed in a priority matrix according to their level of importance and urgency. 
            The website offers a Pomodoro feature through which users are able to optimize task completion by dividing work 
            into manageable chunks of 25 minutes. 
            Happy Prioritas-ing!
        </text><br><br>
        <text>Built by Anya Zhang '20, Linda Qin '20, and Lena Episalla '19 for CS50. Questions? Comments? Please contact
        us at prioritas.CS50@gmail.com.</text>

    </div>
</div>
{% endblock %}

