{% extends "layout.html" %}

{% block title %}
    Reset Failed
{% endblock %}

{% block main %}
<div class = "form-background">
    <p>
        <tr>
            <td style="background-color: #df8867; height: 150%; border: 6px solid white">
        <div class="reset" style="position: absolute; left: 40%; top: 40%">
             <strong>Sorry!</strong> This email address is either invalid or unregistered in our database. 
                 <br>Register <a href="register" class="alert-link" style="color: #8c3731; font-weight: bold">here</a>.</br>
        </div>
        </tr>
    </p>
</div>
{% endblock %}