{% extends "layout.html" %}

{% block title %}
    Register Not Sucessful
{% endblock %}

{% block main %}
<div class = "form-background">
    <p>
        <tr>
            <td style="background-color: #df8867; height: 150%; border: 6px solid white">
        <div class="reset">
             <strong>Sorry!</strong> It appears this email is already in use. Please register with another email <a href="register" class="alert-link" style="color: #8c3731; font-weight: bold">here</a>.
            <br><a href="forgot_pass" style="color: #8c3731; font-weight: bold">Forgot Password?</a></br>
        </div>
    </p>
</div>
{% endblock %}
