{% extends "layout.html" %}

{% block title %}
    Register Not Sucessful
{% endblock %}

{% block main %}
    <p>
        <tr>
            <td style="background-color: #df8867; height: 150%; border: 6px solid white">
        <div class="reset">
             <strong>Sorry!</strong> It appears this email is already in use. Please register with another email <a href="register" class="alert-link">here</a>.
            <br><a href="forgot_pass.html">Forgot Password?</a></br>
        </div>
    </p>
{% endblock %}
